# Laboremus case 1 developer assignment (DANIEL OLILI)

## IMPORT Required packages

In [1]:
import pandas as pd

In [15]:
data = pd.read_csv('./100000 Sales Records.csv')

In [16]:
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Azerbaijan,Snacks,Online,C,10/8/2014,535113847,10/23/2014,934,152.58,97.44,142509.72,91008.96,51500.76
1,Central America and the Caribbean,Panama,Cosmetics,Offline,L,2/22/2015,874708545,2/27/2015,4551,437.20,263.33,1989697.20,1198414.83,791282.37
2,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Offline,M,12/9/2015,854349935,1/18/2016,9986,9.33,6.92,93169.38,69103.12,24066.26
3,Sub-Saharan Africa,Sao Tome and Principe,Personal Care,Online,M,9/17/2014,892836844,10/12/2014,9118,81.73,56.67,745214.14,516717.06,228497.08
4,Central America and the Caribbean,Belize,Household,Offline,H,2/4/2010,129280602,3/5/2010,5858,668.27,502.54,3914725.66,2943879.32,970846.34

# Find all in given duration

```Run only if metric needed for specific duration```

In [5]:
data = data.loc[(pd.to_datetime(data['Order Date']) > pd.to_datetime('2010-08-23')) & (pd.to_datetime(data['Order Date']) < pd.to_datetime('2012-08-23'))]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
7,Middle East and North Africa,Turkey,Fruits,Online,C,3/26/2012,772153747,4/7/2012,6307,9.33,6.92,58844.31,43644.44,15199.87
15,Central America and the Caribbean,Saint Kitts and Nevis,Office Supplies,Online,H,8/10/2011,563966262,8/29/2011,9004,651.21,524.96,5863494.84,4726739.84,1136755.00
19,Europe,Monaco,Office Supplies,Online,M,1/13/2012,982711875,1/17/2012,5137,651.21,524.96,3345265.77,2696719.52,648546.25
25,Middle East and North Africa,Saudi Arabia,Vegetables,Online,H,11/4/2011,529418551,11/20/2011,5569,154.06,90.93,857960.14,506389.17,351570.97
27,Middle East and North Africa,Tunisia,Office Supplies,Offline,L,10/28/2010,531506812,11/23/2010,3532,651.21,524.96,2300073.72,1854158.72,445915.00

# Total profit

In [17]:
data['Total Profit'].sum()

39409123729.61

# Top five profitable items

In [18]:
item_types = data['Item Type'].unique()

In [19]:
profitability_data = []

In [20]:
for item in item_types:
    cost = data.loc[data['Item Type'] == item]['Total Cost'].sum()
    revenue = data.loc[data['Item Type'] == item]['Total Revenue'].sum()
    
    if cost is not 0:
        profitability = (revenue - cost) / cost
    else:
        profitability = cost
    
    type_dict = { 'name': item, 'profitability': profitability }
    profitability_data.append(type_dict)
    
    print('Profitability for', item, 'is', profitability)

Profitability for Snacks is 0.5658866995073892
Profitability for Cosmetics is 0.6602741806858315
Profitability for Fruits is 0.34826589595375707
Profitability for Personal Care is 0.4422092818069525
Profitability for Household is 0.3297846937557206
Profitability for Clothes is 2.049107142857143
Profitability for Vegetables is 0.6942703178268999
Profitability for Office Supplies is 0.24049451386772328
Profitability for Beverages is 0.4926077382824787
Profitability for Meat is 0.15684554004771187
Profitability for Cereal is 0.7564682776876447
Profitability for Baby Food is 0.6013047296449628

### Sort item by profitability

In [21]:
profitability_data_sorted = sorted(profitability_data, key=lambda item: item['profitability'], reverse=True)

### Get first 5 items (Top 5 most profitable items)

In [22]:
profitability_data_sorted[:5]

[{'name': 'Clothes', 'profitability': 2.049107142857143},
 {'name': 'Cereal', 'profitability': 0.7564682776876447},
 {'name': 'Vegetables', 'profitability': 0.6942703178268999},
 {'name': 'Cosmetics', 'profitability': 0.6602741806858315},
 {'name': 'Baby Food', 'profitability': 0.6013047296449628}]